jsonschema==4.23.0
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
mediapipe==0.10.21
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pandas==2.2.3
PyAutoGUI==0.9.54
scikit-learn==1.6.1
scipy==1.15.1
streamlit==1.44.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2